<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h4>FastAPI with Google Oauth</h4>
        <div class="img-box">
          <img class="img" src="{{ url_for('static', path='icons/avatar.png') }}" />
        </div>
      </div>
      <a href="/login" class="google-btn">
        <div class="google-icon"></div>
        <span class="btn-text">Signin with Gmail</span>
      </a>
    </div>
  </body>
</html>
